$white_color: hsl(0, 0%, 100%);
$black_color: hsl(0, 0%, 0%);

// primary colors
$button_color: hsl(180, 66%, 49%);
$dark_violet_color: hsl(257, 27%, 26%);

// secondary colors
$red_color: hsl(0, 87%, 67%);

// neutral colors
$gray_color: hsl(0, 0%, 75%);
$grayish_violet_color: hsl(257, 7%, 63%);
$very_dark_blue_color: hsl(255, 11%, 22%);
$very_dark_violet_color: hsl(260, 8%, 14%);