@import "reset";
@import "variables";
@import "mixins";
@import "fonts";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  padding: 1.3rem 2.5rem;
  background-color: $button_color;
  color: $white_color;
  font-size: 1.8rem;
  font-family: "Poppins";
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: darken($button_color, 10);
  }
}

.button_secondary {
  background-color: transparent;
  color: $gray_color;
}

// HEADER 
.header {
  display: flex;
  align-items: center;
  margin: 5rem 16rem;

  .logo-link {
    display: inline-block;
    margin-right: 3rem;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .list {
      display: flex;
  
      .list_item {
        padding: 0 1rem;
  
        .list_item_link {
          display: inline-block;
          padding: 0 0.5rem;
          color: $gray_color;
          text-decoration: none;
          
          &:hover {
            color: $black_color;
          }
        }
      }
    }
  }
}

// INTRO 
.intro {
  display: flex;
  margin: 11rem 0 11rem 16rem;

  .container_intro {

    h1 {
      color: $black_color;
      font-size: 7.2rem;
      font-weight: 700;
      line-height: 1.2;
    }

    p {
      margin-bottom: 3.5rem;
      color: $gray_color;
      font-size: 2rem;
      line-height: 1.6;
    }

    .button {
      padding: 1.3rem 4rem;
      font-size: 2.2rem;
    }
  }
}

// STATISTICS
.statistics {
  padding: 0 16rem;
  background-color: lighten($color: $gray_color, $amount: 16);
  position: relative;

  .container_form {
    margin: 0 16rem;
    padding: 5rem 6rem;
    position: absolute;
    top: -50%;
    left: 16rem;
    right: 16rem;
    background: url("../../dist/images/bg-shorten-desktop.svg") $dark_violet_color;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;

    .form {

      .input_form {
        width: calc(100% - 16.5rem);
        padding: 1.3rem;
        font-size: 2.2rem;
        border-radius: 1rem;
        border: none;
        outline: none;
      }

      .button_form {
        border-radius: 1rem;
      }
    }
  }

  .container_statistics {
  }
}