@import "reset";
@import "variables";
@import "mixins";
@import "fonts";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif; 
}

.container {
  margin: 0 auto;
  width: 110rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}